<%- include('../partials/header')%>

<ul>
  <% skills.forEach(function(sk) { %>
    <li>
      <a href="/skills/<%= sk.id %>"><%= sk.skill %></a>
      - 
      <%= sk.done ? 'done' : 'not done' %>
    </li>
    <% }); %>
  </ul>
  
  <a href="/skills/new">Add New Skill</a>
  
  
  <%- include('../partials/footer')%>
